%script= render "rbmenu/flowerUrls.js.erb"
%script= render "rbmenu/userUrls.js.erb"
.description-section
  This is a demo of rbMenu. An AngularJS directive that provides a data driven menu which can be configured as a horizontal, vertical or responsive menu of any depth.
  =link_to "Github link", "#"
=render  "top_menu_section"
=render  "left_menu_section"